@import "tailwindcss";

:root {
  --background: #f3f4f6;
  /* Light gray background */
  --foreground: #111827;
  /* Dark text */
  --sidebar-bg: #ffffff;
  --card-bg: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, sans-serif;
}